 <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{% block title %}Espace Membres{% endblock %}</title>

    {% block stylesheets %} 

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/page.css') }}" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.15/datatables.min.css"/>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.13/css/dataTables.bootstrap.css"/>
            <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
                  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->


     <!--   <link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerjqueryui/css/smoothness/jquery-ui.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/bmatznerjqueryui/css/smoothness/jquery.ui.theme.css') }}" /> -->

  <style>
  .ui-dialog { width: 70%; height: 700%; padding: 0.5em; }


  .form-control {
    display: inline-block;
    width: 90%;
    height: 40px;
    padding: 6px 12px;
    margin-left: 0px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;}


  </style>
    
    

    {% endblock %}

</head>
<body id="page">




   <div class="container marg_container_register" >

   <div class="row">
        <div id="menu" class="col-md-2">
            
         
        </div>

        <div id="content" class="col-md-9">
           

          <a id="logo" href="#" title="Accueil" rel="home">
      <img src="{{ asset('img/logo.png') }}" alt="Logo Campus Redon Industries" class="header-logo">
    </a>


        </div>

    </div>

    <div class="row marg_container2">
        <div id="menu" class="col-md-2">
            
           

            
        </div>

        <div id="content" class="col-md-8">
            {% block body %}
            {% endblock %}
        </div>

    </div>


   

</div>

 

{% block javascripts %}

   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
   <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-2.2.4/dt-1.10.15/datatables.min.js"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>





 <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script> 
<!--<script type="text/javascript" src="{{ asset('bundles/bmatznerjqueryui/js/minified/jquery-ui.min.js') }}"></script>-->





   <script >

        $(document).ready(function() {
            $('.data').DataTable({
                  "language": {
            "sProcessing":     "Traitement en cours...",
    "sSearch":         "Rechercher&nbsp;:",
    "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
    "sInfo":           "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
    "sInfoEmpty":      "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
    "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
    "sInfoPostFix":    "",
    "sLoadingRecords": "Chargement en cours...",
    "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
    "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
    "oPaginate": {
        "sFirst":      "Premier",
        "sPrevious":   "Pr&eacute;c&eacute;dent",
        "sNext":       "Suivant",
        "sLast":       "Dernier"
    },
    "oAria": {
        "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
        "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
    },
          
        },
            });
        } );




    </script>
  
 
{% endblock %}





</body>
</html>
