 
 {% extends "EspacePlatformBundle::layout.html.twig" %}

{% block body %}

<ul class="breadcrumb">
  <li><a href="{{ path('EP_show_offre') }}">Offre</a></li>
  <li>Details</li>
 
</ul>

<h3>Détails de l'offre</h3>


<div class= "block-infos-user">

<p>
<span class="subtitle">Référence : </span>
{{offre.refOffre|date('Y-m-d')}}
</p>

<p>
<span class="subtitle">Date de publication : </span>
{{offre.dateDePublication|date('Y-m-d')}}
</p>

<p>
<span class="subtitle">Entreprise : </span>
<a href="{{ path('espace_details_entreprise',{'id': offre.entreprise.id}) }}"> {{offre.entreprise.nom}} </a> &nbsp
</p>

<p>
<span class="subtitle">Nature de l'offre : </span>
{{offre.typeContrat.nom}}
</p>

<p>
<span class="subtitle">Domaine de compétences : </span>
{{offre.domaineCompetence.nom}}
</p>

<p>
<span class="subtitle">Descriptif (mission, profil recherché, compétences, qualités, etc)  : </span>
{{offre.descOffre}}
</p>

<p>
<span class="subtitle">Niveau de formation : </span>

{{offre.niveauFormationP.nom}}
</p>



{#

</div> 



#}

{% endblock %}