 
 {% extends "EspacePlatformBundle::layout.html.twig" %}

{% block body %}

<ul class="breadcrumb">
  <li><a href="{{ path('EP_show_offre') }}">Offre</a></li>
  <li>Details</li>
 
</ul>

<h3>Détails de l'offre</h3>


<div class= "block-infos-user">

<p>
<span class="subtitle">Référence : </span>
{{offre.refOffre|date('Y-m-d')}}
</p>

<p>
<span class="subtitle">Date de publication : </span>
{{offre.dateDePublication|date('Y-m-d')}}
</p>

<p>
<span class="subtitle">Entreprise : </span>

<a href="{{ path('espace_details_entreprise',{'id': offre.entreprise.id}) }}"> {{offre.entreprise.nom}} </a> &nbsp
</p>


{#

</div> 



#}

{% endblock %}