 
 {% extends "EspacePlatformBundle::layout.html.twig" %}

{% block body %}

<ul class="breadcrumb">
  <li><a href="{{ path('EP_show_offre') }}">Offres</a></li>
  <li>Liste</li>
 
</ul>

<h3>Liste des Offres</h3>

 {% block search_body %}
 {% endblock %}

 
  
   <table class="data" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        
        <th>Réf</th>
        <th>Titre de l'offre</th>
        <th>Ville</th>
        <th>Entreprise</th>
        <th>Details</th>
        {% if is_granted('ROLE_ETUDIANT') and not is_granted('ROLE_ADMIN') %}
     <th>Details de l'offre</th>
     <th>Postuler</th>
      {% endif %}
        {% if is_granted('ROLE_ENTREPRISE')  %}
     <th>Etat</th>
     <th>Candidats</th>
     <th>Action</th>
     <th>Validation</th>

      {% endif %}

         
      </tr>
    </thead>

    <tfoot>
      <tr>
        <th>Réf</th>
        <th>Titre de l'offre</th>
        <th>Ville</th>
        <th>Entreprise</th>
        <th>Details</th>
        {% if is_granted('ROLE_ETUDIANT') and not is_granted('ROLE_ADMIN') %}
     <th>Details de l'offre</th>
     <th>Postuler</th>
      {% endif %}

{% if is_granted('ROLE_ENTREPRISE')  %}
    

    <th>Etat</th> 
    <th>Candidats</th> 
    <th>Action</th>
    <th>Validation</th>

      {% endif %}

      

      </tr>
    </tfoot>  
    <tbody>

  {% for offre in listOffres %}

  <tr>
  <td> {{ offre.refOffre|date('Y-m-d') }} </td>
  <td> {{ offre.titreOffre |capitalize}} </td>
  <td> {{ offre.villeE |capitalize}} </td>
  <td> {{ offre.entreprise.nom   |capitalize}} </td>
  <td>
<a href="{{ path('EP_details_offre',{'id': offre.id}) }}" target="_blank"><span class="fa fa-list" ></span> </a> &nbsp 
</td>
    

{% if is_granted('ROLE_ETUDIANT') and not is_granted('ROLE_ADMIN') %}
  <td> {{ offre.typeContrat.nom }} </td>

     <td>

     {%  if has_applied[offre.id]==0   %}
<a href="{{ path('EP_apply_offre',{'id': offre.id}) }}"><span class="glyphicon glyphicon-briefcase"></span> </a> &nbsp 
      {% else %}
<a href="{{ path('EP_in_apply_offre',{'id': offre.id}) }}"><span class="glyphicon glyphicon-briefcase" style="color:red"></span> </a> &nbsp 
      {% endif %}
     </td>
      {% endif %}


{% if is_granted('ROLE_ENTREPRISE') %}
{% if offre.etat==0  %} <td style="color:grey"> Créée 
    {%elseif offre.etat==1%}  <td> Soumise
    {%elseif offre.etat==2%}  <td style="color:green"> Publiée
    {%elseif offre.etat==3%}  <td style="color:red"> Refusée
    {%elseif offre.etat==4%}  <td style="color:black"> Archivée
    {% endif %}



</td>
<td><a href="{{ path('EP_candidats_offre_show',{'id': offre.id}) }}" target="_blank"  title="postuleurs">{{ nb_users[offre.id] }} </a>  </td>
</td>
<td>
{% if offre.etat==0 or offre.etat==4 or offre.etat==3 %}
   <a href="{{ path('EP_update_offre',{'id': offre.id}) }}"><span class="glyphicon glyphicon-pencil"></span> </a> &nbsp 
      
          
        <a href="{{ path('EP_delete_offre',{'id': offre.id}) }}" onclick="return confirm('Etes vous sûr de vouloir supprimer l offre?')" ><span class="glyphicon glyphicon-trash"></span></a> &nbsp 

<a href="{{ path('EP_offre_dupliquer',{'id': offre.id}) }}"  ><span class="glyphicon glyphicon-copy"></span></a> &nbsp 
{% else %}
<a href="{{ path('EP_offre_dupliquer',{'id': offre.id}) }}"  ><span class="glyphicon glyphicon-copy"></span></a> &nbsp 

{%endif%}     
</td>



{% if is_granted('ROLE_ENTREPRISE') and not is_granted('ROLE_ADMIN') %}




{% if offre.etat==0  %} <td> <a href="{{ path('EP_entro_offre_soumis',{'id': offre.id}) }}">Soumettre </a> &nbsp 
    {%elseif offre.etat==1%} <td> Soumise
    {%elseif offre.etat==2%}  <td> <a href="{{ path('EP_entro_offre_archiver',{'id': offre.id}) }}">Archiver </a> &nbsp 
    {%elseif offre.etat==3%}  <td> <a href="{{ path('EP_entro_offre_soumis',{'id': offre.id}) }}">Soumettre </a> &nbsp 
    {%elseif offre.etat==4%}  <td style="color:black"> Archivée
    {% endif %}

{% elseif is_granted('ROLE_ADMIN') %}


{% if offre.etat==0  %} <td> <a href="{{ path('EP_entro_offre_soumis',{'id': offre.id}) }}">Soumettre</span> </a> &nbsp 
    {%elseif offre.etat==1%} <td> <a href="{{ path('EP_admin_offre_valider',{'id': offre.id}) }}" >Valider</span> </a> &nbsp  
       <a href="{{ path('EP_admin_offre_refuser',{'id': offre.id}) }}" style="color:red">Refuser</span> </a> 
    
    {%elseif offre.etat==2%}  <td> <a href="{{ path('EP_entro_offre_archiver',{'id': offre.id}) }}">Archiver</span> </a> &nbsp 
    {%elseif offre.etat==3%}  <td> <a href="{{ path('EP_entro_offre_soumis',{'id': offre.id}) }}">Soumettre</span> </a> &nbsp 
    {%elseif offre.etat==4%}  <td style="color:black"> Archivée
    {% endif %}

{%endif%}

      {% endif %}
   
 </td> 
        

    </tr>
  {% endfor %}
 
 </tbody>
 </table>


      {% if is_granted('ROLE_ENTREPRISE') %}
  <a class="btn btn btn-success" href="{{ path('EP_n_offre') }}" role="button">Ajouter une Offre</a>
      {% endif %}

 


{% endblock %}