 
 {% extends "EspacePlatformBundle::layout.html.twig" %}

{% block body %}

<ul class="breadcrumb">
  <li><a href="{{ path('EP_show_offre') }}">Offres</a></li>
  <li>Liste</li>
 
</ul>

<h3>Liste des Offres</h3>

 
  
   <table class="data" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Nom Entreprise</th>
        <th>Niveau de formation</th>
        <th>Type de Contrat</th>
        <th>Action</th>

         
      </tr>
    </thead>

    <tfoot>
      <tr>
        <th>Nom Entreprise</th>
        <th>Niveau de formation</th>
        <th>Type de Contrat</th>
        <th>Action</th>
            
      </tr>
    </tfoot>  
    <tbody>

  {% for offre in listOffres %}

  <tr>
  <td>   {{ offre.nomEntreprise }} </td> 
  <td> {{ offre.niveauFormationP.nom }} </td>
  <td> {{ offre.typeContrat.nom }} </td>
    <td> <a href="{{ path('EP_update_offre',{'id': offre.id}) }}"><span class="glyphicon glyphicon-pencil"></span> </a> &nbsp 
        <a href="{{ path('EP_delete_offre',{'id': offre.id}) }}" onclick="return confirm('Etes vous sûr de vouloir supprimer l offre?')" ><span class="glyphicon glyphicon-trash"></span></a> 
  
        </td>

    </tr>
  {% endfor %}
 
 </tbody>
 </table>
  <a class="btn btn btn-success" href="{{ path('EP_n_offre') }}" role="button">Ajouter une Offre</a>


{% endblock %}