 
 {% extends "EspacePlatformBundle::layout.html.twig" %}

{% block body %}

<ul class="breadcrumb">
  <li><a href="{{ path('EP_show_offre') }}">Offres</a></li>
  <li>Liste</li>
 
</ul>

<h3>Liste des Offres</h3>

 {% block search_body %}
 {% endblock %}

 
  
   <table class="data" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        
        <th>Niveau de formation</th>
        <th>Type de Contrat</th>
        <th>Domaine de compétence</th>
        <th>Entreprise</th>
        {% if is_granted('ROLE_ETUDIANT') and not is_granted('ROLE_ADMIN') %}
     <th>Details de l'offre</th>
     <th>Postuler</th>
      {% endif %}
        {% if is_granted('ROLE_ENTREPRISE') and not is_granted('ROLE_ADMIN') %}
     <th>Postuleurs</th>
     <th>Action</th>

      {% endif %}

         
      </tr>
    </thead>

    <tfoot>
      <tr>
        <th>Niveau de formation</th>
        <th>Type de Contrat</th>
        <th>Domaine de compétence</th>
        <th>Entreprise</th>
        {% if is_granted('ROLE_ETUDIANT') and not is_granted('ROLE_ADMIN') %}
     <th>Details de l'offre</th>
     <th>Postuler</th>
      {% endif %}

{% if is_granted('ROLE_ENTREPRISE') and not is_granted('ROLE_ADMIN') %}
     <th>Postuleurs</th>
     <th>Action</th>
      {% endif %}

      

      </tr>
    </tfoot>  
    <tbody>

  {% for offre in listOffres %}

  <tr>
  <td> {{ offre.niveauFormationP.nom }} </td>
  <td> {{ offre.typeContrat.nom }} </td>
  <td> {{ offre.domaineCompetence.nom |capitalize}} </td>
  <td> {{ offre.entreprise.nom   |capitalize}} </td>
    

{% if is_granted('ROLE_ETUDIANT') and not is_granted('ROLE_ADMIN') %}
  <td> {{ offre.typeContrat.nom }} </td>

     <td>

     {%  if nb_users[offre.id]==0   %}
<a href="{{ path('EP_apply_offre',{'id': offre.id}) }}"><span class="glyphicon glyphicon-briefcase"></span> </a> &nbsp 
      {% else %}
<a href="{{ path('EP_in_apply_offre',{'id': offre.id}) }}"><span class="glyphicon glyphicon-briefcase" style="color:red"></span> </a> &nbsp 
      {% endif %}
     </td>
      {% endif %}


{% if is_granted('ROLE_ENTREPRISE') and not is_granted('ROLE_ADMIN') %}

<td><a href="" title="postuleurs">{{ nb_users[offre.id] }} </a>  </td>
</td>
<td>
   <a href="{{ path('EP_update_offre',{'id': offre.id}) }}"><span class="glyphicon glyphicon-pencil"></span> </a> &nbsp 
      
          
        <a href="{{ path('EP_delete_offre',{'id': offre.id}) }}" onclick="return confirm('Etes vous sûr de vouloir supprimer l offre?')" ><span class="glyphicon glyphicon-trash"></span></a>
     

     
</td>
      {% endif %}
   
  
        

    </tr>
  {% endfor %}
 
 </tbody>
 </table>


      {% if is_granted('ROLE_ENTREPRISE') %}
  <a class="btn btn btn-success" href="{{ path('EP_n_offre') }}" role="button">Ajouter une Offre</a>
      {% endif %}

 


{% endblock %}