 
 {% extends "EspacePlatformBundle::layout.html.twig" %}

{% block body %}

<ul class="breadcrumb">
  <li>Entreprise</li>
  <li>Details</li>
 
</ul>

<h3>Informations utilisateur</h3>

<div class="col-md-6">
<div class= "block-infos-user">

<h4 class="subtitle">
Coordonnées
</h4>

Civilité : {% if entreprise.civilite==1 %} Homme {% else %} Femme {% endif %} <br>
Prénom : {{entreprise.prenom | capitalize}} <br>
Nom : {{entreprise.nom | capitalize}} <br>
Email : {{entreprise.email}} <br>
Téléphone : {{entreprise.telephone}} <br>


</div> 



<div class= "block-infos-user">

<h4 class="subtitle">
Entreprise
</h4>

Nom entreprise :  {{entreprise.nomE | capitalize}} <br>
Secteur d'activité :  {% if entreprise.secteurActivite is not null %}{{entreprise.secteurActivite.nom}} {% endif %}  <br>
Description : {{entreprise.descriptionE | capitalize}} <br>
Adresse entreprise : {{entreprise.adresseE|capitalize}}, {{entreprise.ville}} <br>
Newsletter : {% if entreprise.newsletter==1 %} Oui {% else %} Non {%endif%} <br>
Enquete : {% if entreprise.enquete==1 %} Oui {% else %} Non {%endif%} <br>


</div>
</div>
<div class="col-md-6">




<a href="{{ path('espace_update_user',{'id': entreprise.id}) }}"><span class="glyphicon glyphicon-pencil"></span> </a> &nbsp 
&nbsp 

  {% if is_granted('ROLE_ADMIN') %}
<a href="{{ path('espace_delete_user',{'id': entreprise.id}) }}" onclick='return confirm("Etes vous sûr de vouloir supprimer cet utilisateur?")'><span class="glyphicon glyphicon-trash" ></span> </a> &nbsp 
      {% endif %}


<div class="col-md-6">

{% endblock %}