 
 {% extends "EspacePlatformBundle::layout.html.twig" %}

{% block body %}

<ul class="breadcrumb">
  <li><a href="{{ path('espace_show_user') }}">Candidat</a></li>
  <li>Details</li>
 
</ul>

<h3>Informations utilisateur</h3>



<div class="col-md-6">

<div class= "block-infos-user">

<h4 class="subtitle">
Coordonnées
</h4>

Civilité : {% if etudiant.civilite==1 %} Monsieur {% else %} Madame {%endif%} <br>
Prénom : {{etudiant.prenom | capitalize}} <br>
Nom : {{etudiant.nom | capitalize}} <br>
Téléphone : {{etudiant.telephone}} <br>
Adresse : {{etudiant.adresse}} <br>
Date de naissance : {{etudiant.ddn|date('d/m/Y')}} <br>
Numéro INE : {{etudiant.numIne}} <br>



</div> 



<div class= "block-infos-user">

<h4 class="subtitle">
Personne à contacter en cas d'urgence
</h4>

Prénom :  {{etudiant.pcPrenom | capitalize}} <br>
Nom :  {{etudiant.pcNom | capitalize}} <br>
Téléphone : {{etudiant.pcTelephone}} <br>
Mobile : {{etudiant.pcTelephonePortable}} <br>
Adresse : {{etudiant.pcAdresse|capitalize}}, {{etudiant.ville}} <br>
Email : {{etudiant.pcEmail}} <br>
Lien avec l'intéressé : {{etudiant.pcLien}} <br>



</div>

</div>

<div class="col-md-6"> 

<div class= "block-infos-user">

<h4 class="subtitle">
Cv
</h4>

Filière professionelle :  <br>
Date emploi :  <br>
Poste actuel :  <br>
Niveaux d'étude : {{etudiant.niveauFormation.nom}} <br>


Diplome d'inscription : <br>
 
{% for diplome in diplomes%}
 &nbsp &nbsp &nbsp{{diplome.nom}} <br>
{% endfor %}
 
 Entreprise trouvée : {% if etudiant.foundEntro == 0 %} Nom {% else %} Oui  {%endif%} <br>
Aide recherche alternance : {% if etudiant.serviceAccompagnement == 0 %} Nom {% else %} Oui  {%endif%} <br>
Numéro INE : {{etudiant.numIne}} <br>



</div> 


</div>

{% endblock %}