 
 {% extends "EspacePlatformBundle::layout.html.twig" %}

{% block body %}

<ul class="breadcrumb">
  <li><a href="{{ path('espace_show_user') }}">Candidat</a></li>
  <li>Details</li>
 
</ul>

<h3><b>Informations utilisateur</b></h3>



<div class="col-md-6">

<div class= "block-infos-user">

<h4 class="subtitle">
Coordonnées
</h4>

<b>Civilité :</b> {% if etudiant.civilite==1 %} Monsieur {% else %} Madame {%endif%} <br>
<b>Prénom :</b> {{etudiant.prenom | capitalize}} <br>
<b>Nom :</b> {{etudiant.nom | capitalize}} <br>
<b>Téléphone :</b> {{etudiant.telephone}} <br>
<b>Adresse :</b> {{etudiant.adresse}} <br>
<b>Date de naissance :</b> {{etudiant.ddn|date('d/m/Y')}} <br>
<b>Numéro INE :</b> {{etudiant.numIne}} <br>



</div> 



<div class= "block-infos-user">

<h4 class="subtitle">
Personne à contacter en cas d'urgence
</h4>

<b>Prénom :</b>  {{etudiant.pcPrenom | capitalize}} <br>
<b>Nom :</b>  {{etudiant.pcNom | capitalize}} <br>
<b>Téléphone :</b> {{etudiant.pcTelephone}} <br>
<b>Mobile :</b> {{etudiant.pcTelephonePortable}} <br>
<b>Adresse :</b> {{etudiant.pcAdresse|capitalize}}, {{etudiant.pcVille}} <br>
<b>Email :</b> {{etudiant.pcEmail}} <br>
<b>Lien avec l'intéressé :</b> {{etudiant.pcLien}} <br>



</div>

</div>

<div class="col-md-6"> 



{% if etudiant.cv %}

<div class= "block-infos-user">

<h4 class="subtitle">
CV
</h4>

<b>Filière professionelle :</b>  <br>
<b>Date emploi :</b>  <br>
<b>Poste actuel :</b>  <br>
<b>Niveaux d'étude :</b> {% if etudiant.niveauFormation is not null %}{{etudiant.niveauFormation.nom}} {% endif %} <br>


<b>Diplome d'inscription :</b> <br>
 
{% for diplome in diplomes%}
 &nbsp &nbsp &nbsp{{diplome.nom}} <br>
{% endfor %}
 
 <b>Entreprise trouvée :</b> {% if etudiant.foundEntro == 0 %} Nom {% else %} Oui  {%endif%} <br>
<b>Aide recherche alternance :</b> {% if etudiant.serviceAccompagnement == 0 %} Nom {% else %} Oui  {%endif%} <br>
<b>Centre d'intérêt :</b> <br>
<b>Contrat recherché :</b> {% if etudiant.cv.typeContratRecherche %} {{etudiant.cv.typeContratRecherche.nom }}{% endif %} <br>
<b>Expérience :</b> 

{% if etudiant.cv.experience == 1 %} Pas d'expérience
{% elseif  etudiant.cv.experience == 2 %} 1-3 ans
{% elseif  etudiant.cv.experience == 3 %} 3-5 ans
{% else %} 5 ans et plus
{% endif %}
 <br>

<b>Formation actuelle :</b> <br>
<b>Réseaux sociaux :</b> <br>
&nbsp &nbsp <i>Facebook</i> : {{etudiant.cv.facebookLink }} <br>
&nbsp &nbsp <i>LinkedIn</i> : {{etudiant.cv.linkedInLink }}<br>
&nbsp &nbsp <i>Viadeo</i> : {{etudiant.cv.viadeoLink }}<br>

<b>Mobilité :</b> 
{% if etudiant.cv.mobilite == 1 %} Nationale
{% elseif  etudiant.cv.mobilite == 2 %} Régionale
{% elseif  etudiant.cv.mobilite == 3 %} Départementale
{% endif %}
 <br>
<br>

<a href = "{{ path('EU_download_CV',{'id': etudiant.id}) }}">Télécharger le CV</a>
<br>
</div> 

{% else %}


<div class= "block-infos-user">

<h4 class="subtitle">
Le CV n'est pas encore rempli
</h4>
</div>

{% endif %}

  {% if is_granted('ROLE_ETUDIANT') %}


<a href="{{ path('EU_new_etudiantCV',{'id': etudiant.id}) }}"><span class="fa fa-file"></span> </a> &nbsp 
&nbsp 

<a href="{{ path('espace_update_user',{'id': etudiant.id}) }}"><span class="glyphicon glyphicon-pencil"></span> </a> &nbsp 
&nbsp 

{% endif %}

  {% if is_granted('ROLE_ADMIN') %}
<a href="{{ path('espace_delete_user',{'id': etudiant.id}) }}" onclick='return confirm("Etes vous sûr de vouloir supprimer cet utilisateur?")'><span class="glyphicon glyphicon-trash" ></span> </a> &nbsp 
      {% endif %}

</div>

{% endblock %}