 
 {% extends "EspacePlatformBundle::layout.html.twig" %}

{% block body %}

<ul class="breadcrumb">
  <li><a href="{{ path('espace_show_user') }}">Users</a></li>
  <li>Liste</li>
 
</ul>

<h3>Liste des Utilisateurs</h3>



 
  
   <table class="data" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>nom</th>
        <th>prenom</th>
        <th>Email</th>
        <th>Profil</th>

        {% if is_granted('ROLE_ADMIN') %}
     <th>Action</th>
      {% endif %}

         
      </tr>
    </thead>

    <tfoot>
      <tr>
        <th>nom</th>
        <th>prenom</th>
        <th>Email</th>
        <th>Profil</th>

        {% if is_granted('ROLE_ADMIN') %}
     <th>Valider</th>
      {% endif %}

      

      </tr>
    </tfoot>  
    <tbody>

  {% for user in listUsers %}

  <tr>
  <td>   {{ user.nom }} </td> 
  <td>   {{ user.prenom }} </td> 
  <td> {{ user.email }} </td>
  <td> {{ user.profil }} </td>
  
    

{% if is_granted('ROLE_ADMIN') %}
<td>
      


 {%  if user.valide==0   %}
<a href="{{ path('EU_valider_user',{'id': user.id}) }}"><span class="glyphicon glyphicon-thumbs-up"></span> </a> &nbsp 
      {% else %}
<a href="{{ path('EU_devalider_user',{'id': user.id}) }}"><span class="glyphicon glyphicon-thumbs-down" style="color:red"></span> </a> &nbsp 

      {% endif %}

     
</td>
      {% endif %}
   
  
        

    </tr>
  {% endfor %}
 
 </tbody>
 </table>






{% endblock %}