 
  {% extends "EspaceUserBundle::layout_register.html.twig" %}



{% block body %}
 
 

 <ul class="breadcrumb">
  <li><a href="{{ path('espace_user_homepage') }}">Entreprise</a></li>
  <li>MAJ</li>
 
<h3>Entreprise</h3>
	

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{{ form_start(form) }}
    {{ form_errors(form) }}

  {#
{{ form_row(form.civilite) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.password) }}
    {{ form_row(form.email) }}
    {{ form_row(form.telephone) }}
    {{ form_row(form.nomE) }}
    
    {{ form_row(form.votreFonction) }}
    {{ form_row(form.Sauvegarder) }}

  #}  


    {{ form_end(form) }}



</div>

 {% endblock %} 