 
  {% extends "EspaceUserBundle::layout_register.html.twig" %}



{% block body %}
 
 

 <ul class="breadcrumb">
  <li><a href="{{ path('espace_user_homepage') }}">Entreprise</a></li>
  <li>MAJ</li>
 
<h3>Entreprise</h3>
	


<div class="margin10">
{{ form_start(form) }}
    {{ form_errors(form) }}
<br>

<div>
    {{ form_label(form.civilite) }}
    {{ form_errors(form.civilite) }}
    {{ form_widget(form.civilite) }} 
</div>

<div>
  &nbsp  &nbsp &nbsp   {{ form_label(form.nom) }}  
    {{ form_errors(form.nom) }}
    {{ form_widget(form.nom) }}&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp


     {{ form_label(form.prenom) }}  &nbsp &nbsp &nbsp 
    {{ form_errors(form.prenom) }} 
    {{ form_widget(form.prenom) }}
</div>







    {{ form_end(form) }}



</div>

 {% endblock %} 