 
  {% extends "EspaceUserBundle::layout_register.html.twig" %}

{% block body %}
 



 <ul class="breadcrumb">
  <li><a href="{{ path('espace_user_homepage') }}">Candidat</a></li>
  <li>MAJ</li>
 
<h3>Candidat</h3>

{#
<div >
  {{ form(form) }}
</div>
#}

<div class="margin102">





{{ form_start(form) }}

    {{ form_errors(form) }}


 


     <div class="form-group">
    {{ form_label(form.civilite) }}
    {{ form_errors(form.civilite) }}
    {{ form_widget(form.civilite) }} 
    </div>
     

    <div class="form-group col-md-6">
    {{ form_label(form.nom) }}  <br>
    {{ form_errors(form.nom) }}
    {{ form_widget(form.nom) }} 
    </div>

     <div class="form-group col-md-6">
    {{ form_label(form.prenom) }} <br>
    {{ form_errors(form.prenom) }} 
    {{ form_widget(form.prenom) }} 
    </div>


    <div class="form-group col-md-6">
    {{ form_label(form.adresse) }}  <br>
    {{ form_errors(form.adresse) }}
    {{ form_widget(form.adresse) }} 
    </div>

     <div class="form-group col-md-6">
    {{ form_label(form.codePostal) }}  <br>
    {{ form_errors(form.codePostal) }}
    {{ form_widget(form.codePostal) }} 
    </div>


    <div class="form-group col-md-6">
    {{ form_label(form.ville) }}  <br>
    {{ form_errors(form.ville) }}
    {{ form_widget(form.ville) }} 
    </div>


    <div class="form-group col-md-6">
    {{ form_label(form.email) }}  <br>
    {{ form_errors(form.email) }}
    {{ form_widget(form.email) }} 
    </div>

     <div class="form-group col-md-6">
    {{ form_label(form.telephone) }}  <br>
    {{ form_errors(form.telephone) }}
    {{ form_widget(form.telephone) }} 
    </div>

    <div class="form-group col-md-6">
    {{ form_label(form.ddn) }}  <br>
    {{ form_errors(form.ddn) }}
    {{ form_widget(form.ddn) }} 
    </div>

    <div class="form-group col-md-6">
    {{ form_label(form.numIne) }}  <br>
    {{ form_errors(form.numIne) }}
    {{ form_widget(form.numIne) }} 
    </div>

    <div class="form-group col-md-6">
    {{ form_label(form.niveauFormation) }}  <br>
    {{ form_errors(form.niveauFormation) }}
    {{ form_widget(form.niveauFormation) }} 
    </div>

    <div class="form-group col-md-12">
    {{ form_label(form.diplome) }}  <br>
    {{ form_errors(form.diplome) }}
    {{ form_widget(form.diplome) }} 
    </div>

 
 
   <h4 class="subtitle">
 <b>Personne à contacter en cas d'urgence</b>

</h4>

<div class="form-group col-md-6">
    {{ form_label(form.pcNom) }}  <br>
    {{ form_errors(form.pcNom) }}
    {{ form_widget(form.pcNom) }} 
    </div>

    <div class="form-group col-md-6">
    {{ form_label(form.pcPrenom) }}  <br>
    {{ form_errors(form.pcPrenom) }}
    {{ form_widget(form.pcPrenom) }} 
    </div>


    <div class="form-group col-md-6">
    {{ form_label(form.pcAdresse) }}  <br>
    {{ form_errors(form.pcAdresse) }}
    {{ form_widget(form.pcAdresse) }} 
    </div>

    <div class="form-group col-md-6">
    {{ form_label(form.pcCodePostal) }}  <br>
    {{ form_errors(form.pcCodePostal) }}
    {{ form_widget(form.pcCodePostal) }} 
    </div>

    <div class="form-group col-md-6">
    {{ form_label(form.pcVille) }}  <br>
    {{ form_errors(form.pcVille) }}
    {{ form_widget(form.pcVille) }} 
    </div>

    <div class="form-group col-md-6">
    {{ form_label(form.pcEmail) }}  <br>
    {{ form_errors(form.pcEmail) }}
    {{ form_widget(form.pcEmail) }} 
    </div>

    <div class="form-group col-md-6">
    {{ form_label(form.pcTelephone) }}  <br>
    {{ form_errors(form.pcTelephone) }}
    {{ form_widget(form.pcTelephone) }} 
    </div>

    <div class="form-group col-md-6">
    {{ form_label(form.pcTelephonePortable) }}  <br>
    {{ form_errors(form.pcTelephonePortable) }}
    {{ form_widget(form.pcTelephonePortable) }} 
    </div>

    <div class="form-group col-md-6">
    {{ form_label(form.pcLien) }}  <br>
    {{ form_errors(form.pcLien) }}
    {{ form_widget(form.pcLien) }} 
    </div>

    <div class="form-group col-md-12">
  
    </div>

    <div class="form-group col-md-6">
    {{ form_label(form.foundEntro) }}  <br>
    {{ form_errors(form.foundEntro) }}
    {{ form_widget(form.foundEntro) }} 
    </div>

    <div class="form-group col-md-6">
    {{ form_label(form.newsletter) }}  <br>
    {{ form_errors(form.newsletter) }}
    {{ form_widget(form.newsletter) }} 
    </div>

     <div class="form-group col-md-6">
    {{ form_label(form.plainPassword.first) }}  <br>
    {{ form_errors(form.plainPassword.first) }}
    {{ form_widget(form.plainPassword.first) }} 
    </div>

      <div class="form-group col-md-6">
    {{ form_label(form.plainPassword.second) }}  <br>
    {{ form_errors(form.plainPassword.second) }}
    {{ form_widget(form.plainPassword.second) }} 
    </div>

   

 
{{ form_end(form) }}


</div>



 {% endblock %} 