 
  {% extends "EspacePlatformBundle::layout.html.twig" %}


{% block body %}
 



 <ul class="breadcrumb">
  <li><a href="{{ path('espace_user_homepage') }}">Candidat</a></li>
  <li>MAJ</li>
 
<h3>CV</h3>

{{ form_start(form) }}

    {{ form_errors(form) }}




<div><br>
  &nbsp    {{ form_label(form.profilTitre) }}  
    {{ form_errors(form.profilTitre) }}
    {{ form_widget(form.profilTitre) }}&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

     {{ form_label(form.typeContratRecherche) }}  &nbsp 
    {{ form_errors(form.typeContratRecherche) }} 
    {{ form_widget(form.typeContratRecherche) }}

    <br>
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp   {{ form_label(form.experience) }}  &nbsp 
    {{ form_errors(form.experience) }} 
    {{ form_widget(form.experience) }}
</div>





{{ form_row(form.mobilite) }}



<div><br>
  &nbsp    {{ form_label(form.facebookLink) }}  
    {{ form_errors(form.facebookLink) }}
    {{ form_widget(form.facebookLink) }}&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp

     {{ form_label(form.linkedinLink) }}  &nbsp 
    {{ form_errors(form.linkedinLink) }} 
    {{ form_widget(form.linkedinLink) }}

<br>
   &nbsp &nbsp   {{ form_label(form.viadeoLink) }}  &nbsp 
    {{ form_errors(form.viadeoLink) }} 
    {{ form_widget(form.viadeoLink) }}
</div>






{{ form_row(form.facebookLink) }}
{{ form_row(form.linkedinLink) }}
{{ form_row(form.viadeoLink) }}
{{ form_row(form.domaineCompetence) }}
 


<h3>Experiences</h3>

    <div class="experiences" data-prototype="{{ form_widget(form.experiences.vars.prototype)|e('html_attr') }}">
        {# iterate over each existing tag and render its only field: name #}
        {% for exp in form.experiences %}
           <div class="expp" >
            {{ form_row(exp.anneeDebut)    }}
            {{ form_row(exp.anneeFin)    }}
            {{ form_row(exp.entreprise)    }}
            {{ form_row(exp.ville)    }}
            {{ form_row(exp.codePostal)    }}
            {{ form_row(exp.posteOccupe)    }}
            {{ form_row(exp.missions)    }}


            </div>



        {% endfor %}
        
    </div>
{{ form_end(form) }}


  

 {% endblock %} 