 
  {% extends "EspacePlatformBundle::layout.html.twig" %}

{% block body %}
 

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}


 <ul class="breadcrumb">
  <li><a href="{{ path('espace_user_homepage') }}">Candidat</a></li>
  <li>MAJ</li>
 
<h3>CV</h3>

{{ form_start(form) }}

    {{ form_errors(form) }}


{{ form_row(form.profilTitre) }}
{{ form_row(form.typeContratRecherche) }}
{{ form_row(form.experience) }}
{{ form_row(form.mobilite) }}
{{ form_row(form.facebookLink) }}
{{ form_row(form.linkedinLink) }}
{{ form_row(form.viadeoLink) }}
{{ form_row(form.domaineCompetence) }}
 


<h3>Experiences</h3>

    <div class="experiences" data-prototype="{{ form_widget(form.experiences.vars.prototype)|e('html_attr') }}">
        {# iterate over each existing tag and render its only field: name #}
        {% for exp in form.experiences %}
           <div class="expp" >
            {{ form_row(exp.anneeDebut)    }}
            {{ form_row(exp.anneeFin)    }}
            {{ form_row(exp.entreprise)    }}
            {{ form_row(exp.ville)    }}
            {{ form_row(exp.codePostal)    }}
            {{ form_row(exp.posteOccupe)    }}
            {{ form_row(exp.missions)    }}


            </div>



        {% endfor %}
        
    </div>
{{ form_end(form) }}
{{ form_end(form) }}

  

 {% endblock %} 