 
  {% extends "EspaceUserBundle::layout_register.html.twig" %}

{% block body %}
 



 <ul class="breadcrumb">
  <li><a href="{{ path('espace_user_homepage') }}">Candidat</a></li>
  <li>MAJ</li>
 
<h3>Candidat</h3>

{#
<div >
  {{ form(form) }}
</div>
#}


{{ form_start(form) }}

    {{ form_errors(form) }}


 



<div>
    {{ form_label(form.civilite) }}
    {{ form_errors(form.civilite) }}
    {{ form_widget(form.civilite) }} 
</div>


<div>
  &nbsp  &nbsp &nbsp   {{ form_label(form.nom) }}  
    {{ form_errors(form.nom) }}
    {{ form_widget(form.nom) }}&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp


     {{ form_label(form.prenom) }}  &nbsp &nbsp &nbsp &nbsp
    {{ form_errors(form.prenom) }} 
    {{ form_widget(form.prenom) }}
</div>

 
 <div>
 
    {{ form_label(form.adresse) }}  
    {{ form_errors(form.adresse) }}
    {{ form_widget(form.adresse) }}&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp


     {{ form_label(form.codePostal) }}  
    {{ form_errors(form.codePostal) }}
    {{ form_widget(form.codePostal) }}



 </div>
 <div>
  {{ form_row(form.ville) }}
 </div>



{{ form_end(form) }}





 {% endblock %} 